block vars
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    title Page title here
    meta(name="description" content="")
    meta(name="keywords" content="")

    block css

    link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")


  body
    #wrapper
      .header
        .container-fluid
          .row
            .col-md-12 HEADER HERE


      .content
        .container-fluid
          block content

      .footer
        .container-fluid


    script(type="text/javascript" src="vendor/jquery/jquery-1.11.3.min.js")
    script(type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js")
    block scripts
    script(type="text/javascript" src="js/main.js")
